  <!-- boton flotante para ir arriba -->
  <div class="boton-arriba" (click)="onClick()">
    <div>
      <button id="upBtn" title="Subir" style="
        position: fixed;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: none;
        background-color: black;
        right: 20px;
        bottom: 55px;
        color: white;
        z-index: 999;
        cursor: pointer;
        transition-duration: 500ms;
        opacity: 1;
        pointer-events: auto;">
        <i class="arrow up"></i>
      </button>
    </div>
  </div>
  <!-- fin boton arriba -->
