      <!-- inicio educacion ===========================================-->
      <section class="educacion" id="borde-educacion">     
        <!-- titulo -->
        <div class="container"  id="titulo-educacion">
          <div class="row align-items-center pt-1">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <div>
                <h3><strong>Educación</strong></h3>
              </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <!-- boton agregar -->
              <div class="position-relative">
                <a href="#" class="btn btn-agregar position-absolute top-50 end-0 translate-middle-y" data-bs-toggle="modal" data-bs-target="#agregarEdu" title="Agregar educación">
                  <i class="fa-solid fa-circle-plus fa-lg fa-beat-fade "></i>                  
                </a>
              </div>
              <!-- fin boton agregar -->
            </div>
          </div>
        </div>  
        <!-- fin titulo -->
        <div class="container" id="educacion" *ngFor="let educacion of educacionLista">
          <!-- Inicio educacion prog uni -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                <a [href]="educacion.web" target="_blank" rel="noopener noreferrer">
                <img [src]="educacion.logo" id={{educacion.id_logo}} alt={{educacion.alt_logo}} title={{educacion.title_logo}}></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="lugar"><h4><strong>{{educacion.lugar}}</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editEduProgUni" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#elimEduProgUni" title="Editar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar -->   
              </div>
              <div class="carrera"><h5>{{educacion.carrera}}</h5></div>
              <div class="periodo"><h5>{{educacion.inicio}} - {{educacion.fin}} - {{educacion.duracion}}</h5></div>
            </div>
            
          </div>
          <!-- fin educacion prog uni -->
        </div>
        <!--inicio modal agregar educación -->
        <div>
          <div class="modal fade" id="agregarEdu" tabindex="-1" aria-labelledby="agregarEduLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="agregarEduLabel">Agregar educación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--form agregar -->
                  <form>
                    <div class="form-group">
                      <div class="mb-1">
                        <label for="formFile" class="form-label">Logo:</label>
                        <input class="form-control" type="file" id="formFileAgregaEdu">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput1" class="form-label">Institución:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput2" class="form-label">Carrera/título:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput3" class="form-label">Período:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                    </div>
                  </form>
                </div>
                <!--pie del modal-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Fin modal agregar educación -->
        <!--inicio modal editar edu prog uni-->
        <div>
          <div class="modal fade" id="editEduProgUni" tabindex="-1" aria-labelledby="editEduProgUniLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editEduProgUniLabel">Editar educación Prog. Uni.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--form editar -->
                  <form>
                    <div class="form-group">
                      <div class="mb-1">
                        <label for="formFile" class="form-label">Logo:</label>
                        <input class="form-control" type="file" id="formFileeditEduProgUni">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput1" class="form-label">Insitución:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput2" class="form-label">Carrera:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput3" class="form-label">Período:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                    </div>
                  </form>
                </div>
                <!--pie del modal-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Fin modal editar edu prog uni-->
        <!--inicio modal eliminar edu prog uni -->
        <div>
          <div class="modal fade" id="elimEduProgUni" tabindex="-1" aria-labelledby="elimEduProgUniLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="elimEduProgUniLabel">Eliminar carrera</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!--form -->
                    <form>
                      <div class="form-group">
                        <div class="mb-3">
                          <label for="FormControlInput1" class="form-label">Está seguro de eliminar?</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--pie del modal-->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark">Si</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Salir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Fin modal eliminar edu prog uni --> 
      </section>
      <!-- Fin educación -->
