  <!-- Inicio barra social vertical -->
  <ul class="social">
    <li>
      <a href="https://www.instagram.com/luis.comas.ph" target="_blank" rel="noopener noreferrer" class="barra_social fa fa-instagram" title="Instagram">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/luis.a.comas" target="_blank" rel="noopener noreferrer" class="barra_social fa fa-facebook fa-xl" title="Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/luis-comas-35670034/" target="_blank" rel="noopener noreferrer" class="barra_social fa fa-linkedin" title="Linkedin">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/lcomas_tuc" target="_blank" rel="noopener noreferrer" class="barra_social fa fa-twitter" title="Tweet">
      </a>
    </li>
    <li>
      <a href="mailto:lcomas@hotmail.com" class="barra_social fa fa-envelope" title="Correo">
      </a>
    </li>
  </ul>
  <!-- Fin barra social vertical-->
