      <!-- Inicio Skills ==============================================-->
      <section class="skills" id="borde-skills">
        <!-- titulo -->
        <div class="container" id="titulo-skills">
          <div class="row align-items-center pt-1">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <div>
                <h3><strong>Hard & Soft Skills</strong></h3>
              </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <!-- boton agregar -->
              <div class="position-relative">
                <a href="#" class="btn btn-agregar position-absolute top-50 end-0 translate-middle-y"  data-bs-toggle="modal" data-bs-target="#agregarSkill" title="Agregar skill">
                  <i class="fa-solid fa-circle-plus fa-lg fa-beat-fade "></i>                  
                </a>
              </div>
              <!-- fin boton agregar -->
            </div>
          </div>
        </div>  
        <!-- fin titulo -->


        <div class="container" id="skills" *ngFor="let skill of skillsLista">
          <!-- Inicio skill -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                <img [src]="skill.logo" id={{skill.id_logo}} alt={{skill.alt}} title={{skill.title}}>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>{{skill.nombre}}</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSkillPhotoshop" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#eliminarSkillPhotoshop" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id={{skill.id_progress}}
                     class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar"
                     aria-label="Animated striped example"
                     attr.aria-valuenow={{skill.progreso}}
                     aria-valuemin="0"
                     aria-valuemax="100"
                     title={{skill.title_progreso}}
                     style="width: {{skill.progreso}}%">
                  <h6>{{skill.progreso}}%</h6></div>
              </div>
            </div>
          </div>
          <!-- Fin skill -->

        </div>
        <!-- inicio modal agregar skill -->
        <div>
          <div class="modal fade" id="agregarSkill" tabindex="-1" aria-labelledby="agregarSkillLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="agregarSkillLabel">Agregar skill</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--form agregar -->
                  <form>
                    <div class="form-group">
                      <div class="mb-1">
                        <label for="formFile" class="form-label">Logo:</label>
                        <input class="form-control" type="file" id="formFileAgregaSkill">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput1" class="form-label">Nombre:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput2" class="form-label">Progreso:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                    </div>
                  </form>
                </div>
                <!--pie del modal-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin modal agregar skill -->  
        <!-- inicio modal editar skill Photoshop -->
        <div>
          <div class="modal fade" id="editSkillPhotoshop" tabindex="-1" aria-labelledby="editSkillPhotoshopLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editSkillPhotoshopLabel">Editar Skill Photoshop</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--form agregar -->
                  <form>
                    <div class="form-group">
                      <div class="mb-1">
                        <label for="formFile" class="form-label">Logo:</label>
                        <input class="form-control" type="file" id="formFileeditSkillPhotoshop">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput1" class="form-label">Nombre:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput2" class="form-label">Progreso:</label>
                        <input class="form-control" type="text" placeholder="%" aria-label="">
                      </div>
                    </div>
                  </form>
                </div>
                <!--pie del modal-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin modal editar skill Photoshop -->
        <!-- inicio modal eliminar skill Photoshop -->
        <div>
          <div class="modal fade" id="eliminarSkillPhotoshop" tabindex="-1" aria-labelledby="eliminarSkillPhotoshopLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="eliminarSkillPhotoshopLabel">Eliminar skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!--form -->
                    <form>
                      <div class="form-group">
                        <div class="mb-3">
                          <label for="FormControlInput1" class="form-label">Está seguro de eliminar?</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--pie del modal-->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark">Si</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Salir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Fin modal eliminar skill Photoshop --> 
      </section>
      <!-- Fin Skills -->
