      <!-- Inicio Skills ==============================================-->
      <section class="skills" id="borde-skills">
        <!-- titulo -->
        <div class="container" id="titulo-skills">
          <div class="row align-items-center pt-1">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
              <div>
                <h3><strong>Hard & Soft Skills</strong></h3>
              </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <!-- boton agregar -->
              <div class="position-relative">
                <a href="#" class="btn btn-agregar position-absolute top-50 end-0 translate-middle-y"  data-bs-toggle="modal" data-bs-target="#agregarSkill" title="Agregar skill">
                  <i class="fa-solid fa-circle-plus fa-lg fa-beat-fade "></i>                  
                </a>
              </div>
              <!-- fin boton agregar -->
            </div>
          </div>
        </div>  
        <!-- fin titulo -->


        <div class="container" id="skills">
          <!-- Inicio skill PhotoShop -->
          <div class="row align-items-center pt-3" draggable="true">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-PS.png" id="logo-PS" alt="Logo PS" title="PhotoShop"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>Photoshop</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSkillPhotoshop" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#eliminarSkillPhotoshop" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-photoshop" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" title="Progreso PhotoShop" style="width: 90%">
                  <h6>90%</h6></div>
              </div>
            </div>
          </div>
          <!-- Fin skill PhotoShop-->

          <!-- Inicio skill Ligtroom -->
          <div class="row align-items-center pt-3">  
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-lightroom.png" id="logo-lightroom" alt="Logo Ligtroom" title="Ligtroom"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>Lightroom</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-lightroom" class="progress-bar progress-bar-striped progress-bar-animated bg-blue" role="progressbar" aria-label="Animated striped example" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" title="Progreso Lightroom" style="width: 85%">
                  <h6>85%</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin skill Ligtroom -->            
          
          <!-- Inicio skill html -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-HTML.png" id="logo-HTML" alt="Logo HTML" title="HTML"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>HTML 5</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-HTML" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" title="Progreso HTML" style="width: 75%">
                  <h6>75%</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin skill html -->

          <!-- Inicio skill CSS -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-CSS.png" id="logo-CSS" alt="Logo CSS" title="CSS"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>CSS 3</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-CSS" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" title="Progreso CSS" style="width: 65%">
                  <h6>65%</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin skill CSS -->

          <!-- Inicio skill JS -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-JS.png" id="logo-JS" alt="Logo JS" title="JavaScript"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>JavaScript</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-JS" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" title="Progreso Javascript" style="width: 35%">
                  <h6>35%</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin skill JS -->

          <!-- Inicio skill Angular -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-angular.png" id="logo-angular" alt="Logo Angular" title="Angular"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>Angular</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-angular" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" title="Progreso Angular" style="width: 35%">
                  <h6>35%</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin skill Angular -->

          <!-- Inicio skill Bootstrap -->
          <div class="row align-items-center pt-3">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="#" target="_blank">
                <img src="assets/img/logo-bootstrap.svg" id="logo-bootstrap" alt="Logo bootstrap" title="Bootstrap"></a>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              <div class="row">
                <div class="col-sm-10">
                  <div class="descrip_skill"><h4><strong>Bootstrap 5</strong></h4></div>
                </div>
                <!-- botones editar y eliminar -->
                <div class="col-sm-2">
                  <div class="btn-edt">
                    <a href="#" class="btn btn-edit" title="Editar">
                      <i class="fa fa-pen"></i>
                    </a>
                    <a href="#" class="btn btn-eliminar" title="Eliminar">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                </div>
                <!-- fin botones editar y eliminar --> 
              </div> 
              <div class="progress">
                <div id="skill-bootstrap" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" arialabel="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" title="Progreso Bootstrap" style="width: 50%">
                  <h6>50%</h6>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin skill Bootstrap -->
        </div>
        <!-- inicio modal agregar skill -->
        <div>
          <div class="modal fade" id="agregarSkill" tabindex="-1" aria-labelledby="agregarSkillLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="agregarSkillLabel">Agregar skill</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--form agregar -->
                  <form>
                    <div class="form-group">
                      <div class="mb-1">
                        <label for="formFile" class="form-label">Logo:</label>
                        <input class="form-control" type="file" id="formFileAgregaSkill">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput1" class="form-label">Nombre:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput2" class="form-label">Progreso:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                    </div>
                  </form>
                </div>
                <!--pie del modal-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin modal agregar skill -->  
        <!-- inicio modal editar skill Photoshop -->
        <div>
          <div class="modal fade" id="editSkillPhotoshop" tabindex="-1" aria-labelledby="editSkillPhotoshopLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editSkillPhotoshopLabel">Editar Skill Photoshop</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--form agregar -->
                  <form>
                    <div class="form-group">
                      <div class="mb-1">
                        <label for="formFile" class="form-label">Logo:</label>
                        <input class="form-control" type="file" id="formFileeditSkillPhotoshop">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput1" class="form-label">Nombre:</label>
                        <input class="form-control" type="text" placeholder="" aria-label="">
                      </div>
                      <div class="mb-1">
                        <label for="FormControlInput2" class="form-label">Progreso:</label>
                        <input class="form-control" type="text" placeholder="%" aria-label="">
                      </div>
                    </div>
                  </form>
                </div>
                <!--pie del modal-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin modal editar skill Photoshop -->
        <!-- inicio modal eliminar skill Photoshop -->
        <div>
          <div class="modal fade" id="eliminarSkillPhotoshop" tabindex="-1" aria-labelledby="eliminarSkillPhotoshopLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="eliminarSkillPhotoshopLabel">Eliminar skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!--form -->
                    <form>
                      <div class="form-group">
                        <div class="mb-3">
                          <label for="FormControlInput1" class="form-label">Está seguro de eliminar?</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!--pie del modal-->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark">Si</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Salir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Fin modal eliminar skill Photoshop --> 
      </section>
      <!-- Fin Skills -->
