/* == FONDO BARRA SKILLS ============================================================= */

#skill-photoshop{
    background-color: #319eb4;
}
#skill-lightroom{
    background-color: #319eb4;
}
#skill-HTML{
    background-color: #494949;
}
#skill-CSS{
    background-color: #ef6322;
}
#skill-JS{
    background-color: #d68b21;
}
#skill-angular{
    background-color: #ed420e;
}
#skill-bootstrap{
    background-color: #623bdf;
}
/* == BARRA PROGRRESO ================================================================ */
.progress {
    border: 1px solid #ccc;
    position: relative;
    display: block;
    height: 20px;
    padding: 0;
    min-width: 50%;
    margin:4px 0;
    background: #DEDEDE;
    box-shadow: 0 2px 6px #565656;
    
}
.progress-bar {
    color: black;
}
.progress h6 {
    font-family: 'Righteous', cursive; /* porcentaje skills*/
}
#logo-PS, #logo-lightroom, #logo-HTML, #logo-CSS, #logo-JS, #logo-angular, #logo-bootstrap
{
    width: 50%;
    margin-top: 0rem;
    border-radius: 0%;
    filter:drop-shadow(0 10px 15px #181818);
}
