<!-- inicio foto perfil y boton editar -->
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img class="foto-perfil" [src]="miPortfolio.imgPerfil" alt="Foto perfil"  title="Perfil" >
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" >
        <div class="btn-edt" id="btn-edt-perfil">
        <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#perfilModal" title="Editar foto perfil">
            <i class="fa fa-pen"></i>
        </a>
        </div>
    </div>
</div>
<!-- fin foto perfil y boton editar -->
