@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Quicksand&family=Raleway&family=Righteous&family=Roboto&family=Ubuntu:wght@300&family=Yellowtail&display=swap');

:root{
    /* --bd-blue: #8d8b16; */
    --bd-color1: 230, 159, 28;
    --bd-color2: 56, 146, 53;
     }
     /* 53, 131, 220 */
body{
    /* background-image: url(../img/fondo-body.jpg); */
    /* background: linear-gradient(to right, red, orange, yellow, green, blue); */
    /* background: linear-gradient(to bottom, orange, white 20%, orange); */
    background-size:cover;
    /* background-repeat:no-repeat; */
    background-blend-mode:luminosity;
    min-height: 100vh;
    color: black; /* color fuente */
}
a:link, a:visited, a:active { 
    text-decoration:none;
    color:inherit;
}
 
/* == BOTONES ================================== */
.btn-agregar{
    padding: 0rem;
    /* display:none */
    /* visibility: hidden; */
 }
.btn-edit{
    padding: 0rem;
    /* display:none */
    /* visibility: hidden; */
 }
.btn-eliminar{
    padding: 0rem;
    /* display:none */
    /* visibility: hidden; */
 }
 /* solo el boton editar del perfil */
#btn-edt-perfil {
    text-align:start;
    margin-top: 1rem;
    margin-left: -1rem;
    z-index: 0;
}

/* todos los botones editar y eliminar */
.btn-edt{ 
    text-align: end;
}
.btn-edt-titulo{
    text-align:center;
}

/* == FUENTES ======================================================================== */
/* font-family: 'Convergence', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Yellowtail', cursive; */
.carousel h5{
    font-family:'Ubuntu', sans-serif;
}
#info-data h1 {
    font-family: 'Righteous', cursive;
}
#sobre-mi h4 {
    text-align:start;
}
#sobre-mi, #experiencia, #educacion, #skills, #proyectos{
    font-family:'Raleway', sans-serif;
}
#info-titulo, #info-contacto {
    font-family: 'Righteous', sans-serif;
}

.olvido-nomcla {
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    margin-bottom: 0;
}

/* == TITULOS ======================================================================== */
#titulo-experiencia, #titulo-educacion, #titulo-skills, #titulo-proyectos{
    font-family:'Convergence', sans-serif;
    color: #000000;
    /* text-shadow: 0 0 5px #ee0606; */
    margin-top: 0rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 5px 10px #181818;
    /* background-color:rgb(53, 131, 220); */
    background: linear-gradient(to bottom, rgba(var(--bd-color1), 1), rgba(var(--bd-color1), 0.55));
}

/* == BORDES ========================================================================= */
#borde-encabezado, #borde-experiencia, #borde-educacion, #borde-skills, #borde-proyectos, footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #dfa21f42;
    box-shadow: 0 10px 15px #181818;
    background: linear-gradient(to bottom, rgba(var(--bd-color1), .55), rgba(var(--bd-color1), 0.25));;
}
#borde-encabezado {
    border-radius: 1rem;
    margin: 0rem 0rem;
    padding: 0rem;
}
/* == VENTANA MODAL =========================================================== */

.modal-content{
    box-shadow: 0 10px 15px #181818;
    
}
 .modal {
     /* --bs-modal-zindex: 1055; */
   /* --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ; */
    --bs-modal-bg: #fab17a;
    font-family: 'Righteous', sans-serif;
} 

#ayuda-correo {
    font-size: 0.7rem;
}

/* == LOGOS ========================================================================== */
#logo-castillo, #logo-cofaral, #logo-unt, #logo-FAU, #logo-IT, #logo-AP
 {
    width: 80%;
    margin-top: 0rem;
    border-radius: 0%;
    filter:drop-shadow(0 10px 15px #181818);
    /* box-shadow: 0 10px 15px #181818; */
}

img:hover{
    /* box-shadow: 0 10px 15px #181818; */
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}




