<!-- redes -->
<div class="list-group list-group-horizontal align-items-center">
<a href="https://www.instagram.com/luis.comas.ph" target="_blank" rel="noopener noreferrer" class="list-group-item" title="Instagram">
    <i class="fa-brands fa-instagram fa-xl"></i>
</a>
<a href="https://www.facebook.com/luis.a.comas" target="_blank" rel="noopener noreferrer" class="list-group-item" title="Facebook">
    <i class="fa-brands fa-facebook fa-xl"></i>
</a>
<a href="https://www.linkedin.com/in/luis-comas-35670034/" target="_blank" rel="noopener noreferrer" class="list-group-item" title="Linkedin">
    <i class="fa-brands fa-linkedin fa-xl"></i>
</a>
<a href="https://twitter.com/lcomas_tuc" target="_blank" rel="noopener noreferrer" class="list-group-item" title="Tweet">
    <i class="fa-brands fa-twitter fa-xl"></i>
</a>
<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
    Login
</button>
<!-- Botón que activa el modal de login -->
<!-- <a href="#" class="list-group-item" data-bs-toggle="modal" data-bs-target="#loginModal" title="Login">
    <i class="fa-solid fa-user-lock fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#loginModal"></i>
</a> -->

</div>
<!-- fin redes -->
