<!-- inicio sobre mi -->

    <div class="row">
        <div class="col-sm-10">
        <h4><strong>Sobre mi...</strong></h4>
        </div>
        <!-- botones editar y eliminar -->
        <div class="col-sm-2">
        <div class="btn-edt" >
            <a href="#" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#sobreMiModal" title="Editar 'sobre mi'">
            <i class="fa fa-pen"></i>
            </a>
            <a href="#" class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#eliminarSobreMiModal" title="Eliminar 'sobre mi'">
            <i class="fa fa-trash"></i>
            </a>
        </div>
        </div>
        <!-- fin botones editar y eliminar -->
    </div>
    
    <div class="row">
        <h5><strong>¡Hola!, me llamo Luis.</strong> Soy de Argentina y nací en la ciudad de Salta en los años 70. Actualmente vivo en la ciudad de Tucumán.</h5>
        <h5>Me dedico a la programación desde hace muchos años y también al desarrolo web; te ayudaré en la creación de tu sitio, adaptándonos a los requerimientos y estándares actuales para conseguir los resultados que buscas.</h5>
        <h5>Además me dedico a la fotografía profesional, una pasión y mi cable a tierra donde me siento muy a gusto <strong><i>"captando la luz"</i></strong>; y haré realidad la imagen que tienes en tu mente, registrándola en una fotografía. Puedes ver mi trabajo fotográfico acá y contratar mis servicios cuando gustes.</h5>
        <h5>¿Te ha gustado mi historia? Entonces también te gustará descubrir cómo es trabajar conmigo. <strong><i>¿Preparado?...¡vamos!</i></strong></h5>
    </div>

<!-- fin sobre mi -->
