<!-- inicio acerca de -->
<div class="container">
    
    <app-foto-perfil></app-foto-perfil>
    
    <!--inicio modal edicion foto perfil -->
    <div>
        <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="perfilModalLabel">Foto de perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--form seleccionar foto -->
                <form>
                <div class="form-group">
                    <div class="mb-3">
                    <label for="formFile" class="form-label">Seleccionar:</label>
                    <input class="form-control" type="file" id="formFileAgregaFotoPerfil">
                    </div>
                </div>
                </form>
            </div>
            <!--pie del modal-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark">Guardar</button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!--Fin modal edicion foto perfil-->
    
    <app-info-profesional></app-info-profesional>

</div>
<!-- Fin acerca de -->
